body{
	background: url('C:/Users/Cleyton/Music/Web Trabalho/Imagens/1.png');
	background-color: #00BFFF;
}
#container{
	width: 100%;
}

#cabeca{
	width: 30%;
	left: 40%;
	border: 2px solid #ffff00;
	border-radius: 20px 20px 20px 20px;
	
	margin:0px auto;	
	margin-top: 150px;
	padding: 60px;
	background-color:white;
}
 
 img{
 	width: 15em;
 	display: block;
 	margin: auto; 
 }

 .form-input{
 	width: 100%;
 	margin-top: 10px;
 }

 .form-input input{
 	border: 2px solid #14D4E1;
 	display: block;
 	margin: 0px auto; 
 	width: 20em;
 	height: 2em;
 	text-align: center;
 	font-weight: bold;
 }

 #entrar input{
 	text-decoration-style: italic;
 	margin-top: 10px;
	margin-left: 200px;
	background-color: #14D4E1;	
	font-weight: bold;
	border-color: #14D4E1;
	width: 30%;
	height: 30px;
 }

 h4{
  	margin: auto;
  	margin-top: 18px;
  	text-align: center;
  	text-decoration: none;
 }
 #btnlogin{
 color: white;
 
 }
 a{
 text-decoration: none;
 color:#1148c8;
  }
a:hover {
	color: #14D4E1;
}